@model proyecto_final.Models.Materia
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.3/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.4/components/navbars/navbar-2/assets/css/navbar-2.css">
<script src="https://unpkg.com/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

<h2>Create</h2>

<div>
    <div class="row justify-content-center">
        <div class="col-md-6">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div>
                    @Html.LabelFor(model => model.Nombre, new { @class = "form-label" })
                    <div>
                        @Html.EditorFor(model => model.Nombre, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div>
                    @Html.LabelFor(model => model.Codigo, new { @class = "form-label" })
                    <div>
                        @Html.EditorFor(model => model.Codigo, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Codigo, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div>
                    @Html.LabelFor(model => model.NumeroCreditos, new { @class = "form-label" })
                    <div>
                        @Html.EditorFor(model => model.NumeroCreditos, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.NumeroCreditos, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div>
                    @Html.LabelFor(model => model.NumeroHoras, new { @class = "form-label" })
                    <div>
                        @Html.EditorFor(model => model.NumeroHoras, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.NumeroHoras, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div>
                    <hr />
                    <div>
                        <input type="submit" value="Guardar" class="btn btn-success" />
                        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
                    </div>
                </div>
            }
        </div>
    </div>
    @section Scripts {
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
    }
